.mainflex {
  display: flex;
  flex-direction: row-reverse;
  padding: 2rem;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.flex1 {
  width: 38%;
  padding: 1rem;
}
.flex2 {
  width: 58%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  padding: 1rem;
  border-right: 1px solid #000;
}

.flex2 > div {
  width: 220px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  padding: 1rem;
}
img {
  width: 220px;
  height: 280px;
}
.proddiv {
  text-align: start;
  display: flex;
  flex-direction: column;
}
.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.prodbrand {
  text-align: start;
  font-weight: 700;
}
.prodbrand > p {
  color: #000;
  font-size: 25px;
}
.title {
  text-align: start;
  margin-top: -1.5rem;
}
.detaildiv {
  text-align: start;
}
.price {
  font-size: 15px;
  font-weight: 700;
  color: #000;
}
.subtit {
  text-decoration: line-through;
  margin-left: 10px;
  margin-right: 20px;
}
.percent {
  color: orange;
  font-weight: 500;
}
.btn {
  background-color: #ff3e6c;
  color: white;
  border: none;
  width: 220px;
  height: 40px;
  border-radius: 3px;
  font-weight: 600;
  font-size: 17px;
}
.calcudiv {
  padding: 1.5rem;
}
h4 {
  color: gray;
  font-weight: 400;
}
.mybag {
  color: #14cda8;
  text-decoration: underline;
  font-weight: 600;
}
h5 {
  text-decoration: underline;
  color: #ff3e6c;
  text-align: start;
}
@media (max-width: 1024px) {
  .mainflex {
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    gap: 40px;
  }
  .flex1 {
    margin: auto;
    width: 620px;
    border: 5px solid black;
  }
  .flex2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin: auto;
    width: 600px;
    padding: 2rem;
    border: 1px solid black;
  }

  .flex2 > div {
    width: 240px;
    border: 5px solid black;
  }
  img {
    width: 220px;
    height: 280px;
  }
  .proddiv {
    text-align: start;
    display: flex;
    flex-direction: column;
  }
  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }
  .prodbrand {
    text-align: start;
    font-weight: 700;
  }
  .prodbrand > p {
    color: #000;
    font-size: 25px;
  }
  .title {
    text-align: start;
    margin-top: -1.5rem;
  }
  .detaildiv {
    text-align: start;
  }
  .price {
    font-size: 15px;
    font-weight: 700;
    color: #000;
  }
  .subtit {
    text-decoration: line-through;
    margin-left: 10px;
    margin-right: 20px;
  }
  .percent {
    color: orange;
    font-weight: 500;
  }
  .btn {
    background-color: #ff3e6c;
    color: white;
    border: none;
    width: 220px;
    height: 40px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 17px;
  }
  .calcudiv {
    padding: 1.5rem;
  }
  .mybag {
    color: #14cda8;
    text-decoration: underline;
    font-weight: 600;
  }
}
@media (max-width: 480px) {
  .mainflex {
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    gap: 40px;
  }
  .flex1 {
    margin: auto;
    width: 280px;
    border: 5px solid black;
    margin-left: -1rem;
  }
  .flex2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin: auto;
    width: 260px;
    margin-left: -2rem;
    border: 1px solid black;
  }

  .flex2 > div {
    width: 220px;
    border: 5px solid black;
  }
  img {
    width: 220px;
    height: 280px;
  }
  .proddiv {
    text-align: start;
    display: flex;
    flex-direction: column;
  }
  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }
  .prodbrand {
    text-align: start;
    font-weight: 700;
  }
  .prodbrand > p {
    color: #000;
    font-size: 25px;
  }
  .title {
    text-align: start;
    margin-top: -1.5rem;
  }
  .detaildiv {
    text-align: start;
  }
  .price {
    font-size: 15px;
    font-weight: 700;
    color: #000;
  }
  .subtit {
    text-decoration: line-through;
    margin-left: 10px;
    margin-right: 20px;
  }
  .percent {
    color: orange;
    font-weight: 500;
  }
  .btn {
    background-color: #ff3e6c;
    color: white;
    border: none;
    width: 220px;
    height: 40px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 17px;
  }
  .calcudiv {
    padding: 1.5rem;
  }
  .mybag {
    color: #14cda8;
    text-decoration: underline;
    font-weight: 600;
  }
  .myh5 {
    margin-left: 0.5rem;
  }
}
